@charset "UTF-8";
:root {
  --primary: #0060ff;
  --line: #dbdbdb;
  --txt: #5a70e0;
  --w: #fff;
  --b: #111;

  --widthwrap: 1200px;
  --slideheight: 300px;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.5;
  color: var(--txt);
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  /* background: #ada3a3; */
}
.logo {
  display: flex;
  align-items: center;
}
.logo a {
  display: block;
  width: 200px;
  height: 40px;
}

.gnb .depth1 {
  display: flex;
}
.gnb .depth1 > li {
  position: relative;
}
.gnb .depth1 > li:last-child .depth2 {
  border-right: 1px solid var(--line);
}
.gnb .depth1 > li > a {
  display: block;
  line-height: 100px;
  width: 150px;
  height: 100px;
  padding: 0 30px;
  text-align: center;
}
.gnb .depth1 > li:hover > a {
  color: #ffffff;
  background: blue;
  /* border-bottom: 3px solid red; */
}
/*gnb 마우스 오버 후 */
.gnb .depth1:hover .depth2 {
  display: block;
  max-height: 300px;
  /* padding: 10px 0; */
  border-bottom-width: 1px;
}
.gnb .depth2::after {
  content: "a";
  width: 1px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 5px;
}
.gnb .depth1 > li:last-child .depth2::after {
  border-right: none;
}
/*nav depth2*/
/*gnb 마우스 오버 전 */
.gnb .depth2 {
  border-bottom: 0px solid #000;
  border-right: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1000;
  /* display: none; */
  padding: 0;
  background: #ffffff;
  transition: all 0.3s;
}
.gnb .depth2 a {
  height: 40px;
  display: block;
  text-align: center;
  padding: 7px 0;
}
.gnb .depth2 a:hover {
  background-color: #0060ff;
  color: #fff;
  /* border-bottom: 5px solid red; */
  /* font-weight: bold; */
}

/* slide */
.slide-wrap a,
.slide-wrap img {
  display: block;
}
.slide-wrap {
  overflow: hidden;
  position: relative;
  height: 300px;
}
.lst-slide {
  position: absolute;
  top: 0;
  left: 0;
}
/* contents */

.contents {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.tabs {
  width: 340px;
}
.bnr {
  width: 400px;
}
.bnr a,
.bnr img {
  display: block;
}

.goto {
  width: 340px;
}
.goto ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 180px;
}
.goto li {
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  /* width: 48%; */
  background: blue;
}
.goto a {
  display: block;
  height: 100%;
  background: red;
}
.tabs-wrap {
  position: relative;
  width: calc(100% / 2 - 230px);
  display: flex;
}

.tabs-wrap .tab-item {
  width: 50%;
}
/* 비활성화 */
.tabs-wrap .tab-item .tit {
  height: 50px;
  padding-top: 15px;
  border-bottom: 2px solid #333;
  background: #ddd;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
}
.tabs-wrap .tab-item .cont {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;

  height: 130px;
}
.tabs-wrap .on .tit {
  color: white;
  background: #333;
}
.tabs-wrap .on .cont {
  display: block;
}
.lis-bbs {
  padding-top: 8px;
}
.lis-bbs li {
  display: flex;
  align-items: center;
}
.lis-bbs li::before {
  content: "";
  display: inline-block;
  margin-top: -3px;
  margin-right: 10px;
  width: 5px;
  height: 5px;
  background: #333;
}
.lis-bbs li a {
  display: block;
  line-height: 2;
}
.lis-bbs li a:hover {
  text-decoration: underline;
}
.lis-gallery {
  display: flex;
  justify-content: space-between;
}
.lis-gallery li {
  width: 100px;

  padding-top: 5px;
}
.lis-gallery li p {
  overflow: hidden;
  width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-top: 1px solid #d7d7d7;
}
.lis-sns {
  display: flex;
}
.lis-sns li {
  margin-right: 20px;
}
.lis-sns a {
  display: block;
  line-height: 100px;
  height: 100px;
}
.logo-foot a {
  display: flex;
  align-items: center;
  height: 100px;
}
/* modal */
.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgb(0, 0, 0, 0.5);
}

.modal-box {
  position: relative;
  width: 50%;
  min-width: 100px;
  height: 300px;
  padding: 30px;
  text-align: center;
  border: 3px solid #cbbcc8;
  border-radius: 10px;
  background: #fff;
}
#modal h3 {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 24px;
}
.modal-box button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  color: white;
  background: black;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.modal-dimmed .active {
}
